<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <title>Manage Students</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
 <div> <h2>Manage Students</h2></div>
  <div>
    <table>
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>SecondName</th>
        <th>E-mail</th>
      </tr>
      </thead>
      <tbody>

      <th:block th:each="">
        <tr>
        <td>{${student.id}}</td>
        </tr>

      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>